*{
    margin: 0 auto;
}

body{
    background-image:url('../img/emilia-music-top.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size:1440px 120px;
    font-family: Open Sans;
    margin-left:5px;
    margin-right: 5px;
}
a{
    text-decoration: none;
    color:black;
}
header ul.menu{
    margin-top:27px;
    margin-right: 5px;
    text-align:right;
    font-weight:bold;
    font-size:10px;
    line-height: 15px;
    background-color:rgba(250, 250, 250, 0.5);
    padding:10px 7px ;
 }
header ul.menu a{
    color:rgb(71,71,71);
    line-height: 25px
 }

header ul li{
    list-style:none;
 }
header ul.menu li :hover{
    color:rgb(111, 177, 111);
}
header ul.menu li{
    display:inline;
    border-left:0.5px solid black;
    font-size:15px;  
    padding:0 10px;
 }
header ul.menu li:last-child{
    border-right: 0.5px solid black;
 }

header ul.redes{
    text-align:right;
    margin-right: 5px;
 }

h1{
    font-family: Raleway;
    font-size: 60px;
    font-weight: bolder;
    line-height: 2px;
    margin-top:80px;
    margin-left:5px;
    font-style:normal;
 }
 h3{
     
     font-size:15px;
     margin-top:90px;
     margin-left:10px;
     margin-bottom: 10px;
 }
 ul.links li{
    list-style:none;
    margin-top:3px;
    margin-bottom: 5px;
    
 }
 ul.links :hover{
     color:rgb(111, 177, 111);
 }
 h2{
     font-family: Raleway;
     font-size:25px ;
     margin-top:60px ;
     margin-bottom: 10px;
     text-transform: uppercase;
 }
 .fa-twitter:hover{
    color:lightskyblue;
 }
 .fa-facebook:hover{
    color:blue;
 }
 .fa-spotify:hover{
    color:lightgreen;
 }
 .fa-apple:hover{
    color:grey;
 }
 .fa-amazon:hover{
    color:orange;
 }
 .fa-instagram:hover{
    color:rgb(247, 18, 228)
 }
 ol{
   margin-top: 20px;
   line-height: 40px;
   list-style-type: decimal-leading-zero;
 }
p{
    margin-bottom: 15px;
}